<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="film" color="warning"></ion-icon>
      <ion-label color="warning">Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse" color="danger"></ion-icon>
      <ion-label color="danger">Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square" color="primary"></ion-icon>
      <ion-label color="primary">Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
