<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg"/>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Morbius (2022)</h1>
            <p>31/03/2022 (BR) - 1h 45m</p>
            <p>Ação, Ficção científica, Fantasia</p>
          </div>
        </ion-label>

        <ion-chip color="warning" outline>
          <ion-label>63%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options slot="end">
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="star" color="warning"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/sQN9v8dIkEYtrGhLULweNNKONHg.jpg"/>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>DC Liga dos Superpets (2022)</h1>
            <p>28/07/2022 (BR) - 1h 45m</p>
            <p>Animação, Ação, Família, Comédia, Ficção científica</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>75%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options slot="end">
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="star" color="warning"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
