<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg"/>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Morbius (2022)</h1>
          <p>31/03/2022 (BR) - 1h 45m</p>
          <p>Ação, Ficção científica, Fantasia</p>
        </div>
      </ion-label>

      <ion-chip color="warning" outline>
        <ion-label>63%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
